header {
    background-color: #09031D;
    height: 70px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Square Eyes Logo - Menu */
.logo {
    font-family: "Koulen", sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    position: absolute;
    left: 3%;
}

.menu {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    gap: 10px;
    white-space: nowrap;
    overflow-x: hidden;
    box-sizing: border-box;
}

.menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.menu a:visited {
    color: #fff;
    text-decoration: none; 
}

.menu a:hover {
    color: #9B9FAC;
    text-decoration: none;
}

.menu a:active {
    color: #fff;
}

body {
    background-color: black;
    font-family: Inter;
    overflow-x: hidden;
}

/* About Square Eyes */

h1 { /* About square Eyes heading*/
    font-family: "Koulen", sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #D8D063;
    white-space: nowrap;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.about-content {
    border: 0.5px solid #5E5656;
    border-radius: 15px;
    padding: 40px;
    padding-bottom: 30px;
    position: relative;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

.about-square {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 19px;
    color: #fff;
    margin-bottom: 60px;
    overflow-x: hidden;
    box-sizing: border-box; 
}

/* Contact Square Eyes */

.contact-us {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 35px;
}

h2 {  /* Feel free to contact us text */
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
}

.cta {
    color: #fff;
    padding: 5px 10px;
    background-color: black;
    border-color: #fff;
    border-radius: 12px;
    border: solid 1px;
    font-size: 15px;
    margin-bottom: 50px;
  }

.cta:hover {
    background-color: #fff;
    color: #000;
}

.inc-text {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 20px;
}

.inc-highlight {
    font-weight: 300;
}

.adress-text {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    line-height: 30px;
}


/* Footer */
footer {
    background-color: #03031d;
    height: 30px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

h3 { /* Legal Terms */
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

/* social media icons */
.fa-instagram {
    color: #fff;
    opacity: 47%;
    padding-left: 20px;
    padding-right: 10px;
}

.fa-x-twitter {
    color: #fff;
    opacity: 47%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa-youtube {
    color: #fff;
    opacity: 47%;
    padding-left: 10px;
    padding-right: 10px;
}

.fa-tiktok {
    color: #fff;
    opacity: 47%;
    padding-left: 10px;
    padding-right: 10px;
}


/* footer text */
.terms_text {
    color: #fff;
    opacity: 47%;
    font-size: 10px; 
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-left: 350px;
}

/*headings for structure*/
.all_rights_text h3,
.terms_text h3 {
    display: none;
}

.terms {
    text-decoration: none;
    white-space: nowrap; 
    display: flex; 
}

.terms:visited {
    color: #fff;
    opacity: 47%;
    text-decoration: none; 
}

.all_rights_text {
    text-decoration: none;
    white-space: nowrap; 
    display: flex; 
    color: #fff;
    opacity: 47%;
    font-size: 10px; 
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 82%;
    max-width: 100vw;
}


/* Smaller Screens */

@Media (max-width: 1180px) and (min-width: 757px)  {
    .all_rights_text {
        position: absolute;
        right: 10%;
    }

    .terms_text {
        display: none;
    }

    .logo {
        font-size: 18px;
        margin-right: 80px;
    }

    .about-section {
        position: relative;
        left: 60px;
    }

}

@Media (max-width: 757px) and (min-width: 570px) {

    /* Header */
    .logo {
        font-size: 18px;
        margin-right: 80px;
 
    }

    .menu {
        font-size: 12px;
        gap: 30px;
    }

    .about-section {
        position: relative;
        left: 60px;
    }


    /* Footer */
    .terms_text {
        display: none;
    }

    .all_rights_text {
        position: absolute;
        left: 60%;
    }

}

@Media (max-width: 570px) and (min-width: 430px) {

    .logo {
        font-size: 15px;
    }

    .menu {
        font-size: 12px;
        gap: 30px;
        margin-left: 80px;
    }

    .about-section {
        position: relative;
        left: 80px;
        border: none;
    }

    .about-content {
        border: none;
    }

    .terms_text {
        display: none;
    }

    .all_rights_text {
        position: absolute;
        left: 55%;
    }

}

/* Media Iphone 14 Pro Max */ 
@media (max-width: 430px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 100%;
    } 

    .logo {
        position: static;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 20px;
    }

    .menu {
        font-size: 12px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .menu ul {
        gap: 0px;
        padding: 0;
        margin: 0;
    }

    .about-section {
        display: flex;
        padding: 10px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0;
        margin-bottom: 100px;
    }

    h1 {
        font-size: 24px;
        margin: 0 auto;
    }

    .about-content {
        padding: 20px;
        max-width: 100%;
        box-sizing: border-box;
    }

    .about-square {
        font-size: 16px;
        margin: 0 auto;
    }

    .cta {
        font-size: 14px;
    }

    .footer {
        position: relative;
    }

    .fa-instagram, 
    .fa-x-twitter,
    .fa-youtube,
    .fa-tiktok {
        padding: 5px;
    }

    .terms_text {
        display: none;
    }

    .all_rights_text {
        font-size: 10px;
        display: flex;
        position: absolute;
        flex-direction: column;
        left: 45%;
    }

    .terms {
        text-decoration: none;
    }

}