header {
    background-color: #09031D;
    height: 70px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Square Eyes Logo - Menu */
.logo {
    font-family: "Koulen", sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    position: absolute;
    left: 3%;
}

.menu {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    gap: 10px;
    white-space: nowrap;
    overflow-x: hidden;
    box-sizing: border-box;
}

.menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.menu a:visited {
    color: #fff;
    text-decoration: none; 
}

.menu a:hover {
    color: #9B9FAC;
    text-decoration: none;
}

.menu a:active {
    color: #fff;
}

/* Search Bar */
.search_bar {
    padding: 14px 340px;
    padding-left: 30px;
    border-radius: 15px;
    border: 2px solid transparent;
    background-color: #20253E;
    position: absolute;
    opacity: 50%;   
}

.search_bar:focus {
    outline: none;
    border: 2px solid #ffffff;
}

.search_bar_position {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 33px;
    margin-bottom: 70px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.fa-magnifying-glass {
    color: #A09393;
    padding-top: 15px;
    padding-left: 450px;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

/* Movie scroll containers */
/* Feautered and Acadamy Award movie headings */
.movie_categories {
    font-family: "Koulen", sans-serif;
    color: #DDD4D4;
    padding-left: 35px;
}

.movie_categories h1, .movie_categories h2 {
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    padding-right: 10px;
    margin-bottom: 0px;
} 

.movie-scroll-container {
    background-color: #000;
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
    padding-top: 0px;
}

.movie-scroll-container-2 {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    border-top: 1px solid #635D5D;
    max-width:100%;
    padding: 50px 10px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.movie_covers img {
    border-radius: 11%;
    width: 230px;
    height: 340px; 
    position: relative;  
    margin: 20px;   
    margin-left: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.movie_hover:hover {
    transform: scale(1.02);
    background-color: transparent;
    border-color: #fff;
}

/* Footer */ 
footer {
    background-color: #03031d;
    height: 30px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

/* Social Media Icons */
.fa-instagram {
    color: #fff;
    opacity: 47%;
    padding-left: 20px;
    padding-right: 10px;
}

.fa-x-twitter {
    color: #fff;
    opacity: 47%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa-youtube {
    color: #fff;
    opacity: 47%;
    padding-left: 10px;
    padding-right: 10px;
}

.fa-tiktok {
    color: #fff;
    opacity: 47%;
    padding-left: 10px;
    padding-right: 10px;
}

/* Headings for structure */
.terms_text h3,
.all_rights_text h3 {
    display: none;
}

.terms_text {
    color: #fff;
    opacity: 47%;
    font-size: 10px; 
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 15px;
    left: 36%;
}

.terms {
    text-decoration: none;
    white-space: nowrap; 
    display: flex; 
}

.terms:visited {
    color: #fff;
    opacity: 47%;
    text-decoration: none; 
}

.all_rights_text {
    text-decoration: none;
    white-space: nowrap; 
    display: flex; 
    color: #fff;
    opacity: 47%;
    font-size: 10px; 
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 82%;
    max-width: 100vw;
}

/* Smaller Screens */

@Media (max-width: 1180px) and (min-width: 757px)  {
    .all_rights_text {
        position: absolute;
        right: 10%;
    }

    .terms_text {
        display: none;
    }

    .logo {
        font-size: 18px;
        margin-right: 80px;
    }

}

@Media (max-width: 757px) {

    .logo {
        font-size: 18px;
        margin-right: 80px;
 
    }

    .menu {
        font-size: 12px;
        gap: 30px;
    }

    .terms_text {
        display: none;
    }

    .all_rights_text {
        position: absolute;
        left: 60%;
    }

}

@Media (max-width: 570px) and (min-width: 430px) {

    .logo {
        font-size: 15px;
    }

    .menu {
        font-size: 12px;
        gap: 30px;
        margin-left: 80px;
    }

    .terms_text {
        display: none;
    }

    .all_rights_text {
        position: absolute;
        left: 55%;
    }

     /* Search Bar */
     .search_bar {
        width: 80%;
        padding: 10px;
    }

    .fa-magnifying-glass {
        position: relative;
        right: 40px;
        bottom: 4px;
    }

}

/* Media Iphone 14 Pro Max */ 
/* Header */
@media (max-width: 430px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 100%;
    } 

    .logo {
        position: static;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 20px;
        white-space: nowrap;
    }

    .menu {
        font-size: 12px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .menu ul {
        gap: 0px;
        padding: 0;
        margin: 0;
    }

    /* Search Bar */
    .search_bar {
        width: 60%;
        padding: 10px;
        margin: 0 auto;
    }

    .fa-magnifying-glass {
        color: #A09393;
        padding-right: 150px;
        padding-bottom: 15px;
    }

    .body {
        display: flex;
        height: 200%;
        width: 100%;
    }
    
    .movie-scroll-container-2 {
        margin-bottom: 20px;
    }

    .footer {
        position: relative;
    }

    .fa-instagram, 
    .fa-x-twitter,
    .fa-youtube,
    .fa-tiktok {
        padding: 5px;
    }

    .terms_text {
        display: none;
    }

    .all_rights_text {
        font-size: 10px;
        display: flex;
        position: absolute;
        flex-direction: column;
        left: 45%;
    }

    .terms {
        text-decoration: none;
    }
    }