


h2, h3 {
    font-family: var(--font-base);
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--text-color);
} 

.about-square-eyes h2 {
    font-size: 3rem;
    color: var(--text-color);
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
    margin-top: 2rem;
}

.about-section {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    margin-block: 3rem;
}

.about-content {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 2.5rem;
    max-width: 700px;
    width: 100%;
    background-color: var(--background-soft);
    box-sizing: border-box;
}

.about-square-eyes p,
.contact-us p {
    font-family: var(--font-base);
    font-weight: 300;
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.7;
    margin-bottom: 2rem;
}

/* cta */ 
.cta {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 8px;
    background-color: var(--background-dark);
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 3rem;
    cursor: pointer;
    box-shadow: none;
    border: 1px solid var(--text-color);
    text-transform: uppercase;
}

.cta:hover {
    background-color: var(--text-color);
    color: var(--background-dark);
}

/* company info */
address {
    font-family: var(--font-base);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.inc-higlight {
    font-weight: 500;
}







