*,
*::before,
*::after {
    box-sizing: border-box;
}

/* shared color & font style */
h1,
h2,
.movie-text-details,
.checkout-meta,
.square-logo,
.after-purchase-text,
.after-purchase-text,
.digital-delivery,
aside,
aside h3,
aside h4,
aside p,
.right-column-top h4,
.right-column-bottom h4 {
    color: var(--text-color);
    font-family: var(--font-base);
}

#checkout-title,
.square-logo {
    font-family: var(--font-heading);
}

#payment-heading,
#credit-card-heading {
    margin: 2rem 0 0.5rem 0;
}

.checkout-heading {
    background-color: #000;
}

h1 { /* Confirm your purchase */ 
    font-size: 1.80rem;
    font-weight: 400;
    margin-top: 1.5rem;
    padding: 0;
}

h2 { /* Payment Methods */ 
    font-size: 1rem;
    font-weight: 300;
    margin: 2rem 0 0.10rem 0.10rem;
}



/* API Movies */
.checkout-movie-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 1rem 0;
}

.checkout-movie-info img {
    width: 70px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    position: relative;
    margin-bottom: 50px;
}

.movie-text-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* price */
.checkout-meta {
    font-size: 14px;
    position: relative;
    margin-top: 0;
    padding-bottom: 60px;
}

/* grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    max-width: 1300px;
    gap: 20px;
    background-color: #000;
    margin: 0 auto;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.left-column {
    grid-area: left;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #5E5656;
    border-radius: 10px;
    width: 100%;
    position: static;
    padding: 3rem;
    box-sizing: border-box;
}

.right-wrapper {
    grid-area: right;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.right-column-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 0.5px solid #5E5656;
    border-radius: 15px;
    padding: 3rem;
    background-color: #000;
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding-left: -3rem;
}

.right-column-bottom {
    display: flex;
    flex-direction: column;
    border: 0.5px solid #5E5656;
    padding: 5rem 2rem;
    background-color: #000;
    border-radius: 15px;
    box-sizing: border-box;
}

/* Payment Methods */
.card-icons { 
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0 0 0;
}

.paypal {
    width: 20px;
    height: 15px;
}

.card {
    width: 20px;
    height: 20px;
}

.card2 {
    width: 20px;
    height: 22px;
}

/* checkout form */
.checkout-form {
    width: 100%;
    margin-top: 1rem;
}

.checkout-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.first-last-name-boxes,
.date-security-boxes {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.input-firstname,
.input-lastname,
.input-expiry-date,
.input-security-code {
    flex: 1;
    border-radius: 10px;
    opacity: 50%;
    padding: 0.8rem 1rem;
    border: 1px solid transparent;
    background-color: #4E4E5E;
}

.cardnumber-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
}

.input-card-number {
    flex: 1;
    width: 100%;
    border-radius: 10px;
    background-color: #4E4E5E;
    opacity: 50%;
    padding: 0.8rem 1rem;
    border: 1px solid transparent;
    max-width: 100%;
    box-sizing: border-box;
}

.date-security-boxes {
    display: flex;
    gap: 15px;
    position: relative;
}

.input-firstname:focus, .input-lastname:focus, .input-card-number:focus, .input-expiry-date:focus, .input-security-code:focus {
    outline: none;
    border: 2px solid #ffffff;
}

/* cta */
.cta-position {
    display: flex;
    position: static;
    align-items: left;
    margin-top: 1rem;
}

.cta {
    font-family: "Inter", sans-serif;
    color: #fff;
    padding: 5px 10px;
    background-color: black;
    border-color: #fff;
    border-radius: 9px;
    border: solid 1px;
    font-size: 13px;
    text-decoration: none;
  }

.cta:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

/* After Purchase Info */
.square-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 50%;
    font-style: bold;
    width: 100px;
    height: 100px;
    background-color: #272E3D;
    white-space: nowrap;  
    flex-shrink: 0;
    text-transform: uppercase;
}

.after-purchase-text {
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    margin-left: 2rem;
}

.right-column-top h4,
.right-column-bottom h4 {
    font-weight: 300;
    font-size: 1rem;
    opacity: 0.80;
    margin-bottom: 0.25rem;

}

.right-column-bottom article {
    margin-bottom: 1.5rem;
}

.right-column-bottom article p {
    font-weight: 200;
    font-size: 0.80rem;
    opacity: 0.80;
    line-height: 1.6;
    margin: 0;
}

.terms-refund-text {
    font-weight:  100;
    font-size: 1rem;
    opacity: 0.80;
    margin-top: 0.5rem;
}


.highlight-terms, 
.highlight-refund {
    color: #8998EB;
    font-weight: 300;
}

@media (max-width: 1260px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "left"
        "right";
    }

    .left-column,
    .right-wrapper,
    .right-column-top,
    .right-column-bottom {
        width: 100%;
        max-width: 100%;
        padding: 1.5rem;
        box-sizing: border-box;
    }
}

@media (max-width: 430px) {
    .left-column {
        border: none;
    }

}
