
/* Toy Story background image */
.welcome_toystory {
    background-image: url(/images/toystory-info3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    position: relative;
}

.img_source {
    font-size: 9px;
    color: black;
    opacity: 60%;
    position: absolute;
    bottom: 0px;
    top: 93%;
    left: 90%;
}


/* Info About the Movie Toy Story */
.movie_info_container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-left: 80px;
    margin-bottom: 0px;
}

.movie_title h1 {
    font-family: "Koulen", sans-serif;
    font-size: 30px;
    color: #D8D063;
    border: #0917d1;
}

.movie_info {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 10px;
    opacity: 61%;
    display: flex;
    gap: 20px;
    padding-left: 15px;
    padding-top: 42px;
}

.m_info {
    white-space: nowrap;
    display: flex;
    position: relative;
}

/* Toy Story Movie Description */
.movie_about h2 {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    padding-left: 80px;
    padding-bottom: 10px;
    margin-top: 0;
}


/* Resolution Icons */
.movie_res_container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    padding-left: 80px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: -15px;
}

.res_icons {
    display: flex;
    gap: 0px;
}

.hd {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: solid 1px;
    border-color: #fff;
    opacity: 60%;
}

.fk {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    border-radius: 6px;
    border: solid 1px;
    border-color: #fff;
    opacity: 60%;
    margin-right: 5px;
}

/* IMDB Rating */
.imdb_text {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    color: #fff;
    opacity: 60%;
}

.imdb_caps {
    text-transform: uppercase;
}


/* Price and Purchase Button */ 
h3 { /* Price - 135 kr */
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 200;
    padding-left: 80px;
    margin-bottom: 40px;
    padding-bottom: 17px;
}

.cta {
    display: inline-block;
    font-family: "Inter", sans-serif;
    color: #fff;
    text-decoration: none;
    background-color: black;
    position: relative;
    padding: 5px 9px;
    border-color: #fff;
    border: solid 1px;
    border-radius: 9px;
    font-size: 13px;
    gap: 15px;
    left: 200px;
    bottom: 85px;
  }

.cta:hover {
    background-color: #fff;
    color: #000;
}

/* Smaller Sizes */

@Media (max-width: 1180px) and (min-width: 757px) {
    .all_rights_text {
        position: absolute;
        right: 10%;
    }

    .terms_text {
        display: none;
    }

    .logo {
        margin-right: 80px;
    }

    .menu {
        margin-left: 80px;
    }
}

@Media (max-width: 757px) and (min-width: 570px) {
    .logo {
        font-size: 18px;
        padding: 10px; 
    }

    .menu {
        font-size: 12px;
        gap: 30px;
    }

    .search_bar {
        width: 100%;
        margin-top: 10px;
        padding: 6px;
    }

     /* Info About the Movie Toy Story */ 
     .movie_title h1 {
        position: relative;
        font-size: 25px;
        white-space: nowrap;
        right: -1px;
        top: 15px;
    
    }

    .movie_info {
        flex-direction: column;
        gap: 2px;
        position: relative;
        font-size: 10px;
        padding-left: 0px;
        right: 110px;
        top: 40px;
    }

    .movie_about h2 {
        font-size: 14px;
        font-weight: 300;
        line-height: 32px;
        position: relative;
        right: 0px;
        top: 50px;
    }

    .movie_res_container {
        white-space: nowrap;
        gap: 10px;
        position: relative;
        right: 0px;
        top: 50px;
    }

    h3 { /* Price - 135 kr */
        font-size: 18px;
        position: relative;
        right: 0px;
        top: 30px;
    }

    .cta {
       font-size: 12px; 
       padding: 5px 8px;
       position: relative;
       bottom: 50px;
       left: 170px;
    }

}

@Media (max-width: 570px) and (min-width: 430px) {

    .logo {
        font-size: 15px;
    }

    .menu {
        font-size: 12px;
        gap: 30px;
        margin-left: 80px;
    }

    /* Toy Story background image */
    .welcome_toystory {
        min-height: 45vh;
        background-size: cover;
        background-position: 80%;
        overflow-x: hidden; 
    }

    .img_source {
        font-size: 9px;
        position: absolute;
    }


    /* Info About the Movie Toy Story */ 
    .movie_title h1 {
        position: relative;
        font-size: 25px;
        white-space: nowrap;
        right: 19px;
        top: 0px;
    
    }

    .movie_info {
        flex-direction: column;
        gap: 2px;
        position: relative;
        font-size: 10px;
        padding-left: 0px;
        right: 130px;
        top: 20px;
    }

    .m_info {
        padding-top: 0;    
    }

    /* Toy Story Movie Description */
    .movie_about h2 {
        font-size: 14px;
        font-weight: 300;
        line-height: 32px;
        position: relative;
        right: 20px;
        top: 30px;
    }


    /* Resolution Icons */
    .movie_res_container {
        white-space: nowrap;
        gap: 10px;
        position: relative;
        right: 22px;
        top: 30px;
    }
    
    /* Price and Purchase Button */ 
    h3 { /* Price - 135 kr */
        font-size: 18px;
        position: relative;
        right: 22px;
        top: 22px;
    }

    .cta {
       font-size: 12px; 
       position: relative;
       bottom: 60px;
       left: 170px;
    }

}

/* Media Iphone 14 Pro Max */ 
@media (max-width: 430px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 100%;
    } 

    .logo {
        position: static;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 20px;
        white-space: nowrap;
    }

    .menu {
        font-size: 12px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .menu ul {
        gap: 0px;
        padding: 0;
        margin: 0;
    }
    /* Toy Story background image */
    .welcome_toystory {
        min-height: 45vh;
        background-size: cover;
        background-position: 80%;
        overflow-x: hidden; 
    }

    .img_source {
        font-size: 9px;
        position: absolute;
    }


    /* Info About the Movie Toy Story */ 
    .movie_title h1 {
        position: relative;
        font-size: 25px;
        white-space: nowrap;
        right: 19px;
        top: 0px;
    
    }

    .movie_info {
        flex-direction: column;
        gap: 2px;
        position: relative;
        font-size: 10px;
        padding-left: 0px;
        right: 130px;
        top: 20px;
    }

    .m_info {
        padding-top: 0;    
    }

    /* Toy Story Movie Description */
    .movie_about h2 {
        font-size: 14px;
        font-weight: 300;
        line-height: 32px;
        position: relative;
        right: 20px;
        top: 30px;
    }


    /* Resolution Icons */
    .movie_res_container {
        white-space: nowrap;
        gap: 10px;
        position: relative;
        right: 22px;
        top: 30px;
    }

    /* Price and Purchase Button */ 
    h3 { /* Price - 135 kr */
        font-size: 18px;
        position: relative;
        right: 22px;
        top: 22px;
    }

    .cta {
       font-size: 12px; 
       position: relative;
       bottom: 60px;
       left: 170px;
    }

}